<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBrand</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo_name">
                <div class="logo"><img src="img/tea11.png" alt="logo"></div>
                <h1 id="nav_name">iBrand</h1>
            </div>
            
            <div class="space_generator"></div>
            <ul class="menu_items">
                <li> <a href="./">Home</a></li>
                <li> <a href="#what_we_do">What We Do</a></li>
                <li> <a href="#our_plans">Our Plans</a></li>
                <li> <a href="/create">Create</a></li>
                <li> <a href="">About us</a></li>
            </ul>
            <div class="ham_icon">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <main>
        <div class="banner">
            <div class="left_banner">
                <div class="intro">
                    <h1>Welcome to iBrand</h1>
                    <h2>Your brand agent</h2>
                </div>
                <div class="detail">
                    <p>Get your brand started now. Create a promotion campagin and make some noise!
                    </p>
                </div>
            </div>
            
            <div class="right_banner">
                <div class="banner_img">
                    <img src="img/banner_img.png" alt="">
                </div>
            </div>
        </div>

        <div id="what_we_do"></div>

        <div class="about_us">
            <div class="about_us_container">
                <h2>What We Do</h2>
                <p>We make <b><u>creating brands</u></b>  easy.
                Create an account, upload your creation and start selling worldwide.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, voluptates possimus? Accusantium ratione minima aspernatur officia, distinctio, sequi adipisci, quibusdam veritatis saepe sunt accusamus sed quia laboriosam eligendi laborum eius.
                Neque quas doloribus ex! Animi nemo ex doloribus odit quod harum aperiam? Enim eaque, sint qui distinctio est ad ipsam nam eos ipsa, accusamus modi. Laboriosam sapiente nam aperiam eius!
                </p>
                <p>Go online and start selling!
                </p>
            </div>
            
        </div>

        <div class="plans_section" id="our_plans">
            <h2>Our Plans</h2>
            <div class="plans">
                <div class="inside_plan" id="plan1"> <h3>Basic</h3> <h6>cost per upload</h6> <img src="img/1.jpg" alt=""> <p>Upload 1 unit</p></div>
                <div class="inside_plan" id="plan2"> <h3>Gold</h3> <h6>cost per pack</h6> <img src="img/2.jpg" alt="">  <p>Pack of 10 units</p> </div>
                <div class="inside_plan" id="plan3"> <h3>Platinum</h3> <h6>yearly subscription</h6> <img src="img/3.jpg" alt=""> <p>Unlimited units uploads/minting.</p> </div>
            </div>
        </div>

        <div class="guide">
            <div class="guide_container">
                <h2>Process</h2>
                <p>The process is simple. Click <u><a target="blank" href="https://metamask.io/download.html">this link</a></u>  to download a <b>Metamask</b> wallet. 
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequuntur aut laudantium dolore totam? Doloremque repellendus blanditiis minima asperiores repudiandae iusto quo deserunt, iure praesentium quis, nulla provident quae amet!</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer_container">
            <ul>
                <li> <a href="">Contact Us</a> </li>
                <li> <a href="">Social Media</a> </li>
                <li> <a href=""></a>Links</li>
            </ul>
            <ul>
                <li> <a href="">Jobs</a> </li>
                <li> <a href="">Terms and Conditions</a> </li>
                <li> <a href=""></a>Media</li>
            </ul>
        </div>
    </footer>

    <script src="functions.js"></script>
</body>
</html>